body {
    margin: 0;
    padding: 0;
    font-family:"Chakra Petch", sans-serif;
    background-color: rgb(128, 128, 128);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    background-color: #313131;
    padding: 10px 0;
    border-radius: 5px;
    position: sticky;
    top: 10px;
    border-bottom: 2px solid red;
}

.left-head {
    display: flex;
    flex: auto;
}

.left-links, .right-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 800;
}

a:hover {
    color: #CA3E47;
}

.login, .sign-up {
    width: 85px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #CA3E47;
    color: white;
    font-size: 16px;
    font-weight: 800;
    font-family:"Chakra Petch"
}

.login:hover, .sign-up:hover, .hero-button:hover {
    color: #CA3E47;
    background-color: #313131;
    border: 2px solid red;
}

.user-action {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    background-color: red;
    margin: 0 40px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 25px;
    padding: 50px 0;
    height: 600px;
    gap: 50px;
    border-left: 5px solid red;
    border-right: 5px solid red;
    border-radius: 5px;
    background-image: url('./resources/hero-temp.png');
    background-size: cover;
    background-position: center center;
}

.hero h1 {
    margin: 0;
    padding: 150px 0 0 0;
    color: white;
    font-size: 40px;
}

.hero-button {
    font-size: 20px;
    border: 2px solid black;
    background-color: #CA3E47;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-family:"Chakra Petch";
    font-weight: 700;
}

.social-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    color: white;
    margin: 20px 25px;
    text-align: center;
    background-color: #414141;
    border-radius: 5px;
}

.social-content h2 {
    padding-top: 50px;
}

.socials {
    background-color: #525252;
    border-radius: 5px;
    border: 2px solid red;
    width: 1000px;
    margin: 50px;
}

.video-embed {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video {
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vid-1, .vid-2 {
    background-color: white;
    width: 400px;
    height: 250px;
}

.insta-feed {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 53px;
}

.insta-image {
    width: 300px;
    height: 400px;
    background-color: white;
}